{% extends 'Resellers/core.html' %}
{% block body %}

    <div class="box box-primary">
        <div class="box-header"><i class="list-th"></i> Confirm</div>
        <div class="box-body">

            <form class="#" method="post">
                <table class="table table-responsive table-hover">
                    <tr>
                        <td>Doctor</td>
                        <td>{{ doctor.id }} - {{ doctor.name }} - {{ doctor.admin.get_full_name }}</td>
                    </tr>
                    <tr>
                        <td>Service</td>
                        <td>{{ service.name }}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>{{ service.price }}</td>
                    </tr>
                    <tr>
                        <td>Subscription Start</td>
                        <td>{{ doctor.expiration.isoformat }}</td>
                    </tr>
                    <tr>
                        <td>Subscription End</td>
                        <td>{{ new_expiration.isoformat }}</td>
                    </tr>
                    <tr>
                        <td>Comment</td>
                        <td>{{ form.comment }}</td>
                    </tr>
                </table>
                {% csrf_token %}
                <div class="col-md-6 col-xs-0"></div>
                <button type="submit" class="btn btn-primary btn-flat col-md-6 col-xs-12">
                    <i class="fa fa-check"></i> Confirm
                </button>
            </form>
        </div>
    </div>
{% endblock %}