{% extends 'Core/base.html' %}
{% block head %}
    {{ form.media }}
{% endblock %}
{% block body %}
    <h4 class="center-text">
        <i class="fa fa-hospital-o"></i>
        Add Record - ID: {{ patient.id }} - Patient: {{ patient.name }}
    </h4>
    <a href="{% url 'Records:view_patient' patient.id %}" class="btn btn-primary">
        <i class="fa fa-undo"></i>
        Back To Patient
    </a>
    <form class="form-horizontal" method="post" action="#">
        {% csrf_token %}
        <div class="well col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <label>
                    Age
                </label>
                {{ form.age }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <label>
                    Weight
                </label>
                {{ form.weight }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <label>
                    H.C
                </label>
                {{ form.h_c }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <label>
                    Lt.
                </label>
                {{ form.l_t }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>
                    Problem
                </label>
                {{ form.problem }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label>
                    Medications
                </label>
                {{ form.medications }}
            </div>
        </div>
        <button class="btn btn-success" type="submit">
            <i class="fa fa-save"></i>
        </button>
    </form>
{% endblock %}