{% extends 'Core/base.html' %}

{% block body %}
    <a href="{% url 'Queues:new_service' %}" class="btn btn-primary btn-flat">
    <i class="fa fa-plus"></i>
    New Service
    </a>
    <div class="box box-primary">
        <div class="box-header"><i class="fa fa-th"></i> My Services</div>
        <div class="box-body">
            <table class="table table-responsive table-hover">
                <thead>
                <td>#</td>
                <td>Service</td>
                <td>Price</td>
                <td></td>
                </thead>
                <tbody>
                {% for x in services %}
                    <tr>
                        <td>{{ x.id }}</td>
                        <td>{{ x.name }}</td>
                        <td>{{ x.price }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}