{% extends 'Core/base.html' %}
{% block body %}
    <h4>
        {{ title|safe }}
    </h4>
    <div class="well">
        <form class="form-horizontal" method="post" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'Core/multi_form_template.html' %}
            <button class="btn btn-success" type="submit" title="حفظ">
                <i class="fa fa-save"></i>
            </button>
        </form>
    </div>
{% endblock %}
{% block js %}
    {% for form in forms %}
        {{ form.media.js }}
    {% endfor %}
    <script>
    $(':input:not(.checkbox)').addClass('form-control');
    </script>
{% endblock %}