{% extends 'Core/empty_base.html' %}
{% block body %}
    <div class="container">
        <div class="login-logo">
            <a href="http://www.onlink4it.com"><b>Smart Clinic </b>SC</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            {% if error_message %}
                <div class="alert alert-danger">
                    <center>{{ error_message }}</center>
                </div>
            {% endif %}
            <p class="login-box-msg"><b>Sign up for 15 days trial</b></p>
            <form action="#" method="post">
                {% csrf_token %}
                {% include 'Core/multi_form_template.html' %}

                <input class="hidden" name="next" value="{{ request.GET.next }}">
                <div class="row">
                    <div class="col-xs-8">
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <!-- /.social-auth-links -->
        </div>
        <!-- /.login-box-body -->
    </div>
{% endblock %}