{% extends 'Core/base.html' %}
{% block head %}
    {{ form.media }}
{% endblock %}
{% block body %}
    <h4 class="center-text">
        <i class="fa fa-pencil"></i> Edit Patient - <b>Name:</b> {{ patient.name }}
    </h4>
    <a href="{% url 'Records:add_record' patient.id %}" class="btn btn-primary">
        <i class="fa fa-hospital-o"></i>
        Add Record
    </a>

    <form class="form-horizontal" method="post" action="#">
        {% csrf_token %}
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#personal_info">Personal Info</a></li>
            <li><a data-toggle="tab" href="#antenatal_history">Antenatal History</a></li>
            <li><a data-toggle="tab" href="#natal_history">Natal History</a></li>
            <li><a data-toggle="tab" href="#family_history">Family History</a></li>
            <li><a data-toggle="tab" href="#nutrition">Nutrition</a></li>
            <li><a data-toggle="tab" href="#immunization">Immunization</a></li>
            <li><a data-toggle="tab" href="#developmental_history">Devleopmental History</a></li>
            <li><a data-toggle="tab" href="#records">Records</a></li>

        </ul>
        <div class="well col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tab-content">
                <div id="personal_info" class="tab-pane fade in active">
                    <h5>
                        Personal History
                    </h5>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Name:
                        </label>
                        {{ form.name }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Age:
                        </label>
                        {{ form.age }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            DOB:
                        </label>
                        {{ form.birthday }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Phone:
                        </label>
                        {{ form.phone }}
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            Address:
                        </label>
                        {{ form.address }}
                    </div>
                </div>
                <div id="antenatal_history" class="tab-pane fade">
                    <h5>
                        Antenatal History
                    </h5>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            Antenatal History:
                        </label>
                        {{ form.antenatal_history }}
                    </div>
                </div>

                <div id="natal_history" class="tab-pane fade">
                    <h5>
                        Natal History
                    </h5>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            Weight at Birth:
                        </label>
                        {{ form.wt_at_birth }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Duration Of Pregnancy:
                        </label>
                        {{ form.duration_of_pregnancy }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Mode Of Delivery:
                        </label>
                        {{ form.mode_of_delivery }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Hospital:
                        </label>
                        {{ form.hospital }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Doctor:
                        </label>
                        {{ form.doctor }}
                    </div>
                </div>

                <div id="family_history" class="tab-pane fade">
                    <h5>
                        Family History
                    </h5>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Father's ABO:
                        </label>
                        {{ form.father_abo }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Mother's ABO:
                        </label>
                        {{ form.mother_abo }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Consanguinity:
                        </label>
                        {{ form.consanguinity }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Order:
                        </label>
                        {{ form.order }}
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            Diseases:
                        </label>
                        {{ form.diseases }}
                    </div>
                </div>
                <div id="nutrition" class="tab-pane fade">
                    <h5>
                        Nutrition
                    </h5>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            Nutrition:
                        </label>
                        {{ form.nutrition }}
                    </div>
                </div>

                <div id="immunization" class="tab-pane fade">
                    <h5>
                        Immunization
                    </h5>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <label>
                            BCG:
                        </label>
                        <br>
                        {{ form.bcg }}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <label>
                            TOPV:
                        </label>
                        <br>
                        0: {{ form.topv_0 }}
                        <br>
                        2M: {{ form.topv_2m }}
                        <br>
                        4M: {{ form.topv_4m }}
                        <br>
                        6M: {{ form.topv_6m }}
                        <br>
                        9M: {{ form.topv_9m }}
                        <br>
                        1Y: {{ form.topv_1y }}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <label>
                            DPT:
                        </label>
                        <br>
                        2M: {{ form.dpt_2m }}
                        <br>
                        4M: {{ form.dpt_4m }}
                        <br>
                        6M: {{ form.dpt_6m }}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <label>
                            HBV:
                        </label>
                        <br>
                        0: {{ form.hbv_0 }}
                        <br>
                        2M: {{ form.hbv_2m }}
                        <br>
                        4M: {{ form.hbv_4m }}
                        <br>
                        6M: {{ form.hbv_6m }}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <label>
                            MMR:
                        </label>
                        <br>
                        12M: {{ form.mmr_12m }}
                        <br>
                        18M: {{ form.mmr_18m }}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                        <label>
                            OTHER:
                        </label>
                        <br>
                        0: {{ form.other_0 }}
                        <br>
                        1: {{ form.other_1 }}
                    </div>
                </div>
                <div id="developmental_history" class="tab-pane fade">
                    <h5>
                        Developmental History
                    </h5>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Social Smile:
                        </label>
                        {{ form.social_smile }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Head Support:
                        </label>
                        {{ form.head_support }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Set alone:
                        </label>
                        {{ form.set_alone }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label>
                            Start Teething:
                        </label>
                        {{ form.start_teething }}
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            Crawl:
                        </label>
                        {{ form.crawl }}
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            Walk alone:
                        </label>
                        {{ form.walk_alone }}
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            Speech:
                        </label>
                        {{ form.speech }}
                    </div>
                </div>
                <div id="records" class="tab-pane fade">
                    <h5>
                        Records
                    </h5>
                    <table class="table table-responsive table-striped">
                        <thead>
                        <tr>
                            <td>
                                Date
                            </td>
                            <td>
                                Age
                            </td>
                            <td>
                                Wt.
                            </td>
                            <td>
                                Problem
                            </td>
                            <td>
                                H.C
                            </td>
                            <td>
                                L.T
                            </td>
                            <td>
                                Med.
                            </td>
                            <td>

                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for x in patient.patientrecord_set.all %}
                            <tr>
                                <td>
                                    {{ x.date }}
                                </td>
                                <td>
                                    {{ x.age }}
                                </td>
                                <td>
                                    {{ x.weight }}
                                </td>
                                <td>
                                    {{ x.problem|safe }}
                                </td>
                                <td>
                                    {{ x.h_c }}
                                </td>
                                <td>
                                    {{ x.l_t }}
                                </td>
                                <td>
                                    {% for y in x.prescription.all %}
                                        {{ y }}<br>
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{% url 'Records:print_prescription' x.id %}" class="btn-sm btn-info" title="طباعة" target="_blank">
                                        <i class="fa fa-print"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="btn btn-success col-md-12">
                <i class="fa fa-save"></i>
            </button>
        </div>
    </form>
{% endblock %}