{% extends 'SuperAdmin/base.html' %}
{% block body %}
    <a href="{% url 'Resellers:renew_subscription' doctor.id %}" class="btn btn-primary btn-flat">
        {% if doctor.payments <= 1 %}
            <i class="fa fa-money"></i> Pay
        {% else %}
            <i class="fa fa-refresh"></i> Renew
        {% endif %}
    </a>
    {% if doctor.trials <= 1 and doctor.payments == 0 %}
        <a class="btn btn-warning btn-flat"><i class="fa fa-plus"></i> Extend Trial</a>
    {% endif %}
    <div class="box box-primary">
        <div class="box-header">
            Doctor Info.
        </div>
        <div class="box-body">
            <table class="table table-responsive table-hover">
                <tr>
                    <td>
                        Username
                    </td>
                    <td>
                        {{ doctor.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        {{ doctor.admin.get_full_name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Created On
                    </td>
                    <td>
                        {{ doctor.created_on.isoformat }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Expiration
                    </td>
                    <td>
                        {{ doctor.expiration.isoformat }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Size Used
                    </td>
                    <td>
                        {{ size|filesizeformat }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Patients
                    </td>
                    <td>
                        {{ doctor.patient_set.all.count }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Clinics
                    </td>
                    <td>
                        {{ doctor.admin.clinic_set.all.count }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Assistants
                    </td>
                    <td>
                        {{ doctor.users.all.count }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Payments
                    </td>
                    <td>
                        {{ doctor.payments }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Trials
                    </td>
                    <td>
                        {{ doctor.trials }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header"><i class="fa fa-list-alt"></i> Invoices</div>
        <div class="box-body">
            <table class="table table-responsive table-hover">
                <thead>
                <td>#</td>
                <td>Date</td>
                <td>Service</td>
                <td>Amount</td>
                <td>By</td>
                </thead>
                <tbody>
                {% for x in doctor.customertransaction_set.all %}
                    <tr>
                        <td>{{ x.id }}</td>
                        <td>{{ x.date.date.isoformat }}</td>
                        <td>{{ x.service.name }}</td>
                        <td>{{ x.amount }}</td>
                        <td>{{ x.done_by.get_full_name }}</td>
                        <td>
                            <a href="{% url 'Resellers:print_receipt' x.id %}" class="btn btn-sm btn-flat btn-warning"
                               target="_blank">
                                <i class="fa fa-print"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            Assistants
        </div>
        <div class="box-body">
            <table class="table table-responsive table-hover">
                <thead>
                <td>#</td>
                <td>Username</td>
                <td>Name</td>
                <td></td>
                </thead>
                <tbody>
                {% for x in assistants %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ x.username }}</td>
                        <td>{{ x.get_full_name }}</td>
                        <td>
                            <a href="" class="btn btn-sm btn-flat btn-success">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="" class="btn btn-sm btn-flat btn-danger">
                                <i class="fa fa-sign-in"></i>
                            </a>
                            <a href="" class="btn btn-sm btn-flat btn-warning">
                                <i class="fa fa-asterisk"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">Clinics</div>
        <div class="box-body">
            <table class="table table-responsive table-hover">
                <thead>
                <td>#</td>
                <td>Name</td>
                <td>Phone</td>
                <td>Address</td>
                <td>Examination Fee</td>
                <td>Consultant Fee</td>
                <td></td>
                </thead>
                <tbody>
                {% for x in clinics %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ x.name }}</td>
                        <td>{{ x.phone }}</td>
                        <td>{{ x.address }}</td>
                        <td>{{ x.examination_fees }}</td>
                        <td>{{ x.consultant_fees }}</td>
                        <td>
                            <a href="" class="btn btn-sm btn-flat btn-success">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}