{% extends 'Core/base.html' %}
{% block body %}
    <div class="btn-group-justified">
        <a href="{% url 'Message:send_message' %}" class="btn btn-success">
            <i class="fa fa-send"></i>
            رسالة جديدة
        </a>
        <a href="{% url 'Message:send_to_group' %}" class="btn btn-success">
            <i class="fa fa-users"></i>
            إرسال رسالة إلي قسم
        </a>
        <a href="{% url 'Message:send_to_all' %}" class="btn btn-success">
            <i class="fa fa-bank"></i>
            رسالة لجميع الموظفين
        </a>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <i class="fa fa-envelope"></i>
            صندوق الرسائل
        </div>
        <div class="panel-body">
            <table class="table table-responsive table-hover" id="example1">
                <thead>
                <tr>
                    <td>
                        #
                    </td>
                    <td>
                        المرسل
                    </td>
                    <td style="width: 70%;">
                        العنوان
                    </td>
                    <td>
                        التاريخ
                    </td>
                </tr>
                </thead>
                <tbody>
                {% for x in messages %}
                    <tr {% if not x.read %}class='bg-primary'{% endif %}
                        onclick="window.document.location='{% url 'Message:read_message' x.id %}';">
                        <td>
                            {{ x.id }}
                        </td>
                        <td>
                            {{ x.sender.get_full_name }}
                        </td>
                        <td>
                            {{ x.title }}
                        </td>
                        <td>
                            {{ x.date }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}