{% extends 'Core/base.html' %}
{% block body %}

    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'Message:inbox' %}" class="btn btn-primary btn-block margin-bottom">Back To Inbox</a>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-folder"></i> Folders</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'Message:inbox' %}"><i class="fa fa-inbox"></i> Inbox
                            <span class="label label-primary pull-right"></span></a></li>
                        <li><a href="{% url 'Message:outbox' %}"><i class="fa fa-envelope-o"></i> Sent</a></li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-users"></i> Users</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                        {% if request.user.is_superuser %}
                            <li>
                                <a href="">
                                    {% if request.user.instance_admin.all.0.admin.online_set.all.0.get_status == 'Online' %}
                                        <i class="fa fa-circle" style="color: green;"></i>
                                    {% else %}
                                        <i class="fa fa-circle-o"></i>
                                    {% endif %}
                                    {{ request.user.instance_admin.all.0.admin }}
                                </a>
                            </li>
                            {% for x in request.user.instance_admin.all.0.users.all %}
                                <li>
                                    <a href="">
                                        {% if x.online_set.all.0.get_status == 'Online' %}
                                            <i class="fa fa-circle" style="color: green;"></i>
                                        {% else %}
                                            <i class="fa fa-circle-o"></i>
                                        {% endif %}
                                        {% if x.get_full_name %}{{ x.get_full_name }}{% else %}{{ x }}{% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>
                                <a href="">
                                    {% if request.user.instance_users.all.0.admin.online_set.all.0.get_status == 'Online' %}
                                        <i class="fa fa-circle" style="color: green;"></i>
                                    {% else %}
                                        <i class="fa fa-circle-o"></i>
                                    {% endif %}
                                    {{ request.user.instance_users.all.0.admin }}
                                </a>
                            </li>
                            {% for x in request.user.instance_users.all.0.users.all %}
                                <li>
                                    <a href="">
                                        {% if x.online_set.all.0.get_status == 'Online' %}
                                            <i class="fa fa-circle" style="color: green;"></i>
                                        {% else %}
                                            <i class="fa fa-circle-o"></i>
                                        {% endif %}
                                        {% if x.get_full_name %}{{ x.get_full_name }}{% else %}{{ x }}{% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Read Message</h3>

                    <div class="box-tools pull-right">
                        <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Previous"><i
                                class="fa fa-chevron-left"></i></a>
                        <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Next"><i
                                class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-read-info">
                        <h3>{{ message.title }}</h3>
                        <h5>From:
                            {% if message.sender.get_full_name %}
                                {{ message.sender.get_full_name }}
                            {% else %}
                                {{ message.sender }}
                            {% endif %}
                            <span class="mailbox-read-time pull-right">{{ message.date }}</span></h5>
                    </div>
                    <!-- /.mailbox-read-info -->
                    <div class="mailbox-controls with-border text-center">
                        <div class="btn-group">
                            <a href="{% url 'Message:reply' message.id %}" class="btn btn-default btn-sm" data-toggle="tooltip"
                                    data-container="body" title="Reply">
                                <i class="fa fa-reply"></i></a>
                            <a href="{% url 'Message:forward' message.id %}" class="btn btn-default btn-sm" data-toggle="tooltip"
                                    data-container="body" title="Forward">
                                <i class="fa fa-share"></i></a>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.mailbox-controls -->
                    <div class="mailbox-read-message">
                        {{ message.body|safe }}
                    </div>
                </div>

                <div class="box-footer">
                    <ul class="mailbox-attachments clearfix">
                        {% for x in message.attachments_set.all %}
                        <li>
                            <!--<span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>-->

                            <div class="mailbox-attachment-info">
                                <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i>
                                    {{ x.attachment }}</a>
                                <span class="mailbox-attachment-size">
                          {{ x.attachment.size|filesizeformat }}
                          <a href="{{ x.attachment.url }}" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                        </span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}