{% extends 'Core/base.html' %}
{% block head %}
    {{ form1.media }}
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'Message:inbox' %}" class="btn btn-primary btn-block margin-bottom">Back To Inbox</a>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-folder"></i> Folders</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'Message:inbox' %}"><i class="fa fa-inbox"></i> Inbox
                            <span class="label label-primary pull-right"></span></a></li>
                        <li><a href="{% url 'Message:outbox' %}"><i class="fa fa-envelope-o"></i> Sent</a></li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-users"></i> Users</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                        {% if request.user.is_superuser %}
                            <li>
                                <a href="">
                                    {% if request.user.instance_admin.all.0.admin.online_set.all.0.get_status == 'Online' %}
                                        <i class="fa fa-circle" style="color: green;"></i>
                                    {% else %}
                                        <i class="fa fa-circle-o"></i>
                                    {% endif %}
                                    {{ request.user.instance_admin.all.0.admin }}
                                </a>
                            </li>
                            {% for x in request.user.instance_admin.all.0.users.all %}
                                <li>
                                    <a href="">
                                        {% if x.online_set.all.0.get_status == 'Online' %}
                                            <i class="fa fa-circle" style="color: green;"></i>
                                        {% else %}
                                            <i class="fa fa-circle-o"></i>
                                        {% endif %}
                                        {% if x.get_full_name %}{{ x.get_full_name }}{% else %}{{ x }}{% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>
                                <a href="">
                                    {% if request.user.instance_users.all.0.admin.online_set.all.0.get_status == 'Online' %}
                                        <i class="fa fa-circle" style="color: green;"></i>
                                    {% else %}
                                        <i class="fa fa-circle-o"></i>
                                    {% endif %}
                                    {{ request.user.instance_users.all.0.admin }}
                                </a>
                            </li>
                            {% for x in request.user.instance_users.all.0.users.all %}
                                <li>
                                    <a href="">
                                        {% if x.online_set.all.0.get_status == 'Online' %}
                                            <i class="fa fa-circle" style="color: green;"></i>
                                        {% else %}
                                            <i class="fa fa-circle-o"></i>
                                        {% endif %}
                                        {% if x.get_full_name %}{{ x.get_full_name }}{% else %}{{ x }}{% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Compose New Message</h3>
                </div>
                <form method="post" action="#" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label>
                                To:
                            </label>
                            <select class="form-control select2" name="receiver" multiple>
                                <option value="{{ master.id }}">
                                    {% if master.get_full_name %}
                                        {{ master.get_full_name }}
                                    {% else %}
                                        {{ master.username }}
                                    {% endif %}
                                </option>
                                {% for x in employees %}
                                    <option value="{{ x.id }}">
                                        {% if x.get_full_name %}
                                            {{ x.get_full_name }}
                                        {% else %}
                                            {{ x }}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        {% include 'Core/multi_form_template.html' %}
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send
                                </button>
                            </div>
                            <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                </form>
                <!-- /. box -->
            </div>
        </div>

{% endblock %}